@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #f4f2ee;
  margin: 0;
  padding: 0;
}
